.header__search {
    max-width: 620px;
    margin-left: 400px;
}

.header__cart{
    display: none;
}

.header__search-history-list-item a{
    text-decoration: none;
    color: var(--text-color);
}

.imgg {
    width: 82px;
    height: 82px;
}

.main__product{
    margin-top: 30px;
}

.table thead{
    height: 56px;
    box-shadow: 0 1px 1px #dedede;
    border: 1px solid var(--primary-color);
    overflow: hidden;
}


.table thead th{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    position: relative;
    top: -12px;
}

.table thead th:nth-child(1) {
   padding-left: 40px;
   font-size: 20px;
   color: var(--primary-color);
   position: relative;
   top: -6px;
   font-weight: 400;
}

.table thead th:nth-child(2) {
    padding-left: 40px;
    color: #888;
    position: relative;
    top: -6px;
 }

 .table thead th:nth-child(3) {
    color: #888;
    position: relative;
    top: -6px;
 }

.table thead th:nth-child(4) {
    padding-left: 25px;
    color: #888;
    position: relative;
    top: -6px;
 }

.table thead th:nth-child(5) {
    padding-right: 20px;
    color: #888;
    position: relative;
    top: -6px;
}

.table tbody {
    position: relative;
    top: 10px;
}

.table tbody div {
    display: inline-flex;
    align-items: center;
    margin: 20px 10px;
  }

.table tbody tr{
    padding: 20px 0;
    box-shadow: 0 1px 1px #dedede;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.table tbody td:nth-child(1) {
    width: 50%;
}

.table tbody td:nth-child(2) {
    display: inline-flex;
    align-items: center;
    margin-top: 41px;
    border: none;
}

.table tbody td:nth-child(3) {
    position: relative;
    top: 37px;
}

.table tbody td:nth-child(4) {
    position: relative;
    top: 38px;
}

.table tbody td:nth-child(5) {
    position: relative;
    top: 32px;
}
  
.title {
    width: 90%;
    font-size: 15px;
    margin-left: 10px;
}

.price {
    text-decoration: line-through;
    font-size: 12px;
    margin-left: -12px;
    color: #888;
}


.priceCurrent {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -1px;
    color: var(--primary-color);
}

.num {
    margin-left: 24px;
    font-size: 20px;
    color: #888;
    font-weight: 400;
}

.total {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: end;
}

.total_product {
    /* float: right; */
    padding: 40px 80px;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 590;
}

.total_product span {
    color: var(--text-color);
    font-size: 16px;
    font-size: 300;
    margin-right: 10px;
}

.btn {
    width: 200px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 2px;
    color: #fff;
    font-weight: 500;
    position: relative;
    top: -2px;
    margin-right: 60px;
    font-size: 14px;
}

.btn:hover {
    color: #fff;
}

.delete {
    border: none;
    outline: none !important;
    color: #fff;
    background: var(--primary-color);
    font-size: 16px;
    line-height: 0;
    margin-left: 10px;
    font-weight: 500;
    padding: 15px 10px;
    border-radius: 2px;
    position: relative;
    top: 4px;
}

.delete:hover {
    background: #dc5d43;
}